/* Starting point only - the default browser styling.
   Follow the tasks in README.md to make this your own. */

body {
    font-family: Arial, sans-serif;
    font-color: white;
    align-content: flex-end;
    margin-left: 66px;
    align-self: center;
    background-color: orange;
    text-align: center
    
}

header{
    font-style: italic;
    align-items: center;
    border-bottom: 20px;
}
nav a{
    color: blue;
    word-spacing: 200px;
    text-decoration: none;
    
}



